<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="测试套件">
    <listeners>
        <listener class-name="com.DoctorPox.listener.TestFailListener"></listener>
    </listeners>
    <test name="test">
        <classes>
            <class name="com.DoctorPox.testcases.TestLogin"/>
            <class name="com.DoctorPox.testcases.TestTiku"/>
        </classes>
    </test>
</suite>